<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title layout:fragment="title">Formulaire Création de Compte</title>
</head>

<div layout:fragment="content">
    <h1>Formulaire Création de Compte</h1>
    <form th:action="@{/user/new}" method="post">
        <div><label>Nom d'utilisateur : <input type="text" name="username"/> </label></div>
        <div><label>Mot de passe : <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Créer le compte"/></div>
    </form>
</div>

</html>
