<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <title layout:fragment="title">Formulaire Contact</title>
</head>

<div layout:fragment="content">
  <h1 th:text="${contact.id == null ? 'Ajouter' : 'Modifier'} + ' un contact'"></h1>

  <form th:action="@{/contacts/save}" th:object="${contact}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Prénom : <input type="text" th:field="*{firstName}" /></label><br/>
    <label>Nom : <input type="text" th:field="*{lastName}" /></label><br/>
    <label>Email : <input type="email" th:field="*{email}" /></label><br/>
    <button type="submit">Enregistrer</button>
  </form>

  <a th:href="@{/contacts}">Retour</a>
</div>

</html>
